{% extends 'header.html' %}
{% block content %}
<div class="p-2 rounded-4 col-12 my-2 border">
    <div class="list-group list-group-flush container p-2 my-2">
        <h5 class="mx-3 my-2 text-secondary">Добро пожаловать, {{ request.user }}</h5>
        <a class="list-group-item list-group-item-action" aria-current="true">
          <b>Ваши рассылки</b> <span class="badge text-bg-primary rounded-pill mx-3"> {{ mailings }}</span>
        </a>
        <a class="list-group-item list-group-item-action" aria-current="true">
            <b>Активные рассылки</b> <span class="badge text-bg-primary rounded-pill mx-3"> {{ active_mailings }}</span>
        </a>
        <a class="list-group-item list-group-item-action" aria-current="true">
            <b>Ваши клиенты</b> <span class="badge text-bg-primary rounded-pill mx-3"> {{ unique_clients }}</span>
        </a>
    </div>
</div>
<div class="p-2 rounded-4 col-12 my-4 shadow">
    <h5 class="mx-3 my-2">Читайте наш Блог</h5>
</div>
{% for object in random_Blog %}
<div class="card my-2">
  <div class="col">
    <div class="card shadow-sm">
      <img src="{{ object.photo.url }}">
      <div class="card-body">
        <p class="card-text">{{ object.title }}</p>
        <p class="card-text">Описание: {{ object.description | slice:":100"  }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a class="btn btn-primary" href="{% url 'blog:view' object.pk %}" role="button">Посмотреть</a>
          </div>
        </div>
     </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}