{% extends 'header.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">{{ object.client }}</p>
                        <p class="card-text">Сообщение: {{ object.message }}</p>
                        <p class="card-text">Периодичность: {{ object.get_period_display}}</p>
                        <p class="card-text">Периодичность: {{ object.get_status_display}}</p>
                        <p class="card-text">Дата создания: {{ object.created_at }}</p>
                        <p class="card-text">Дата отправки: {{ object.date_time }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'mailings:mailings_list' %}" role="button">Назад</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    {% if run_send %}
    {% if run_send == 'start' %}
    <div class="container p-4 my-2">
        <a href="{% url 'mailings:start_sending' mailings.pk %}" class="btn btn-outline-primary">Запустить</a>
    </div>
    {% else %}
    <div class="container p-4 my-2">
        <a href="{% url 'mailings:stop_sending' mailings.pk %}" class="btn btn-outline-primary">Остановить</a>
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}