{% extends 'header.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="form-control text-center"> Пользователи</div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for item in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Пользователь: {{ item.email }}</p>
                        {% if perms.users.block_users %}
                            {% if item.is_active == True %}
                            <a class="btn btn-primary" href="{% url 'users:profile' item.pk %}"
                                role="button">Забанить</a>
                            {% else %}
                            <a class="btn btn-primary" href="{% url 'users:profile' item.pk %}"
                                role="button">Разбанить</a>
                            {% endif %}
                        {% endif %}
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}